.txtt{
    text-align: left;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.span{
    color: orange;
}

.nav1{
    font-size: 20px;
    color: white;
}
.nav2{
    float: right;
   
    
}
.Navii{
    box-shadow: 0 4px 8px 0 rgba(139, 137, 137, 0.2), 0 6px 20px 0 rgba(187, 185, 185, 0.19);
}
.nav2 a:hover{
    color: white;
}
.nav-link{
transition: all 0.2s;
position: relative;
}

.nav-link:hover::after{
    
    content: "";
    height: 2px;
    width: 100%;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 768px) {
    .txtt{
        min-width: 100%;
        position: absolute;
        left: 0;
        color: rgb(255, 255, 255);
        text-align: left;
    }
    h5{
        font-size: calc(1.52rem + 3.3vw)
    }
}
.c-item{
    height: 650px;
}
.card-title{
    text-transform: capitalize;
    /* text-decoration: underline; */
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6)
}

.button {
    background-color: lightblue;
    position: absolute;
    bottom: 10%;
    left: 43%;
}
.button a {
    text-decoration: none;
    color: black;
}
.warning{
    color: rgb(30, 210, 150);
}
.login a {
    text-decoration: none;
    color: white;
}
.about-text{
    position: absolute;
    right: 10px;
    width: 40%;
    top: 800px;
}

.lol{
    position: absolute;
    top: 750px;
}
.s{
    box-shadow: 0 4px 8px 0 rgba(12, 12, 12, 0.932), 0 6px 20px 0 rgba(18, 18, 19, 0.925);
}

.marg{
    margin-top: 150px;
}
.card-body{
    color: white;
    
}
.header{
   
    /* margin-left: 150px; */
    position: relative;

    left: 30%;
}
.last{
    margin-top: 180px;
}
.vidd{
    width: 100%;
}

.txt{
    margin-top: 60px;
    margin-left: 90px;
   width: 300px;
}
.hh{
    text-decoration: none;
    color: white;
}
.nn{
    background-color: orange;
}

.gg{
    text-align: center;
}

